<noscript>
  <meta http-equiv="refresh" content="3; url=/app/host?session={{objectid session.iD}}&sessid={{sessid}}">
</noscript>
<header>
  {{#if last}}
  <h1>Last question</h1>
  {{else}}
  <h1>Next question</h1>
  {{/if}}
  <h2>{{question.title}}</h2>
</header>
<main>
  <p class="countdown">3</p>
  <p class="countdown">2</p>
  <p class="countdown">1</p>
</main>