<header>
  <h1>Question results</h1>
  <h2>{{question.title}}</h2>
</header>
<main>
  {{#each question.answers}}
  {{> partials/answer-result}}
  {{/each}}
  <a class="button large" href="/app/host/next-question?sessid={{sessid}}">Go to next question</a>
</main>