<meta http-equiv="refresh" content="2; url=/app/host/{{objectid session.iD}}">
<h1>Waiting for people to join...</h1>
<label>Code: <input type="text" readonly value={{session.code}}></label>

<p>{{len session.participants}} people have joined</p>

<a href="/app/host/start">Start session</a>