<template style="display:none;" data-waiting>
  <header>
    <h1>Waiting</h1>
    <h2 data-quiz-name></h2>
  </header>
  <main>
    <p class="large center" data-participants>0 people have joined</p>
    <label class="inline">Code: <input type="text" readonly value=""></label>
    <button class="large" data-start>Start quiz</button>
  </main>
</template>
<template style="display:none;" data-countdown>
  <header>
    <h1></h1>
    <h2 data-question-title></h2>
  </header>
  <main>
    <p class="countdown">3</p>
    <p class="countdown">2</p>
    <p class="countdown">1</p>
  </main>
</template>
<template style="display:none;" data-answer>
  <header>
    <h1>Answer now</h1>
    <h2 data-question-title></h2>
  </header>
  <main>
    <p class="center" data-timer></p>
    <p class="center" data-progress>{} of {} participants answered</p>
  </main>
</template>
<template style="display:none;" data-result>
  <header>
    <h1>{}</h1>
    <h2 data-question-title></h2>
  </header>
  <main>
    <template style="display:none;" data-answer-result>
      <label class="result">
        <span>
          {}
          <span>{}</span>
        </span>
        <meter class="meter" max="" value="">
          {amount} people chose {answer}
        </meter>
      </label>
    </template>
    <button class="large" data-next></button>
  </main>
</template>