<template style="display:none;" data-waiting>
  <header>
    <h1>Waiting</h1>
    <h2 data-quiz-name></h2>
  </header>
  <main>
    <p data-quiz-host>Waiting for {} to start the quiz</p>
  </main>
</template>
<template style="display:none;" data-countdown>
  <header>
    <h1></h1>
    <h2 data-question-title></h2>
  </header>
  <main>
    <p class="countdown">3</p>
    <p class="countdown">2</p>
    <p class="countdown">1</p>
  </main>
</template>
<template style="display:none;" data-answer>
  <header>
    <h1>Answer now</h1>
    <p data-timer></p>
    <h2 data-question-title></h2>
  </header>
  <main>
    <form data-answer-form action="/app/join" method="POST">
      <input data-sessid type="hidden" name="sessid" value="">
      <fieldset>
        <legend>Possible answers</legend>
        <template style="display:none;" data-answer-input>
          <input type="radio" name="answer" value="" id="">
          <label for=""></label>
        </template>
      </fieldset>
      <button class="large">Send in answer</button>
    </form>
  </main>
</template>
<template style="display:none;" data-answered>
  <header>
    <h1>Waiting</h1>
    <p data-timer></p>
    <h2 data-question-title></h2>
  </header>
  <main>
    <p data-chosen-answer>Your chose: {}</p>
    <p>Waiting for results to come in...</p>
  </main>
</template>
<template style="display:none;" data-result>
  <header>
    <h1></h1>
    <h2 data-question-title></h2>
  </header>
  <main>
    <template style="display:none;" data-answer-result>
      <label>
        {answer}: {amount}
        <meter max="" value="">
          {amount} people chose {answer}
        </meter>
      </label>
    </template>
  </main>
</template>