<header>
  <h1>{{user.username}}'s Goldhoot</h1>
</header>
<main>
  <section>
    <h1>Join quiz</h1>
    <form action="/app/join" method="GET">
      <input type="hidden" name="sessid" value="{{sessid}}">
      <label class="inline">Code:
        <input required type="text" name="session">
      </label>
      <button>Join</button>
    </form>
    {{#if errors.session}}
    <p>{{errors.session}}</p>
    {{/if}}
  </section>

  <section>
    <h1>Joined quizzes</h1>
    <ul class="quiz-list">
      {{#each joinedSessions}}
      {{> partials/quiz-item}}
      {{/each}}
    </ul>
  </section>

  <section>
    <header>
      <h1>Own quizzes</h1>
      <a class="button" href="/app/quiz/create?sessid={{sessid}}">Create quiz</a>
    </header>
    <h2>Ongoing</h2>
    <ul class="quiz-list">
      {{#each ongoingSessions}}
      {{> partials/quiz-item}}
      {{/each}}
    </ul>
    <h2>Drafts</h2>
    <ul class="quiz-list">
      {{#each draftSessions}}
      {{> partials/quiz-item}}
      {{/each}}
    </ul>
    <h2>Finished</h2>
    <ul class="quiz-list">
      {{#each finishedSessions}}
      {{> partials/quiz-item}}
      {{/each}}
    </ul>
  </section>
</main>