<h1>Goldhoot</h1>

<a href="/app/session/create">Create session</a>
<form action="/app/session/join" method="GET">
  <label>Join session</label>
  <input type="text" name="session">
  <button>Join</button>
</form>

<section>
  <h2>Previous sessions</h2>
  <ul>
    {{#each sessions}}
    <li>
      <a href="/app/session/{{objectid this.iD}}">{{this.name}}</a>
    </li>
    {{/each}}
  </ul>
</section>