<h1>New question for {{session.name}}</h1>

<form action="/app/quiz/{{objectid session.iD}}/question/create" method="POST">
  <label>
    Title
    <input type="text" name="title">
  </label>
  <button>Save</button>
</form>