<form action="/user/login" method="POST">
  <label>
    Username
    <input type="text" name="username" required="true">
  </label>
  <label>
    Password
    <input type="password" name="password">
  </label>
  <button type="submit">Log in</button>
</form>