<noscript>
  <meta http-equiv="refresh" content="5; url=/app/join?session={{session.code}}&sessid={{sessid}}">
</noscript>
<header>
  <h1>Next question</h1>
  <h2>{{question.title}}</h2>
</header>
<main>
  <p>5... 4... 3... 2... 1...</p>
</main>