<meta http-equiv="refresh" content="2; url=/app/join?session={{session.code}}&sessid={{sessid}}">
<h1>Results for: {{question.title}}</h1>
{{#each question.answers}}
{{> partials/answer-result}}
{{/each}}