<noscript>
  <meta http-equiv="refresh" content="2; url=/app/join?session={{session.code}}&sessid={{sessid}}">
</noscript>
<header>
  <h1>Waiting</h1>
  <h2>{{session.name}}</h2>
</header>

<main>
  <p>Waiting for {{user.username}} to start the quiz</p>
</main>